<!--&lt;!&ndash;<h1 class="default success">Lorem5 ipsum </h1>&ndash;&gt;-->
<!--&lt;!&ndash;<h1 [ngClass]="'default success'">Lorem5 ipsum </h1>&ndash;&gt;-->
<!--&lt;!&ndash;<h1 [ngClass]="{default: true, success: isSuccess, error: !isSuccess}">Lorem5 ipsum </h1>&ndash;&gt;-->
<!--<h1 [ngStyle]="{color: 'blue', margin: '20px'}">Lorem5 ipsum </h1>-->

<div>
<div *ngFor="let fruit of fruits; even as even; odd as odd">
  <p class="default"
  [ngClass]="{success: even, error: odd}">
  name {{fruit.name}} - price {{fruit.price}}
  </p>
</div>

<br/>

</div>
